<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container" id="navigation-container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class={{ "active" if current and current.value == 0 else "" }}><a href="/">Home</a></li>
                {% set current = current.value if current else 0 %}

                {% for category in categories %}
                    {% set href = "/store?category=" + loop.index|string %}
                    <li class={{ "active" if current == loop.index else "" }}><a href={{ href }}>{{ category.name }}</a></li>
                {% endfor %}
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->